<?xml version="1.0"?>
<jsonrpc>
  <serviceAssemblies>
    <add assembly="Maha.Microservices.DemoService" domain="Demo" methodMode="allPublic" subdomainTrimChars="Service" />
  </serviceAssemblies>
  <gateways>
    <!--配置授权验证网关-->
    <!--如果要自定义实现自己的验证，可以模仿 TestAuthGateway，继承 BaseAuthGateway 自己实现一个 -->

    <!--TestAuthGateway 基于固定的访问ID与密码-->
    <!--<add className="OF.JsonRpc.Gateway.TestAuthGateway" clientId="test" token="test" />-->

    <!--SignatureAuthGateway 基于RSA验签算法-->
    <!--<add className="OF.JsonRpc.Gateway.SignatureAuthGateway" />-->
  </gateways>
  <handlers>
    <add key="JsonRpcServiceUrl" value="http://localhost:60282/json.rpc" />
    <add key="JsonRpcServiceUrl.User" value="http://192.168.2.1:60282/json.rpc" />
    <!--<add key="JsonRpcServiceClientId" value="a002" />-->
    <!--<add key="JsonRpcServiceClientId.User" value="b001" />-->
  </handlers>
</jsonrpc>
